@import 'loginComponent.css';
@import 'appbarComponent.css';
@import 'dashboardComponent.css';
@import 'panelComponent.css';
@import 'error404Component.css';
@import 'feedbackComponent.css';


body {
  margin: 0;
  font-family: "Arial";
  font-size: large;
}

