/* Override the bootstrap Nav Link styles for the sidebar links */
.nav-link {
    color: #777 !important;
}

.nav-item:hover {
    background-color: rgb(230, 230, 230);
}

.nav-bar {
    margin-right: 1rem;
}

.sidebar {
    background-color: rgb(216, 216, 216);
    min-height: 100vh;
    padding: 1.25rem 0 0 0;
    box-shadow: inset -1px 0 0 rgba(184, 184, 184, 0.6);
}

#sidebar-wrapper{
    min-height: 100vh;
    padding: 0;
}

#sidebar-wrapper .sidebar-heading {
    font-size: 1.2rem;
}

#page-content-wrapper {
    padding-top: 10px;
    background-color: rgb(230, 230, 230);
}

.sign-out:hover {
    background-color: rgb(0, 0, 0);
}

.sign-out:hover .nav-link:hover {
    color: white !important;
}

.words {
    width: 100%;
    padding-left: 0 !important;
    font-size: 1.25rem;
}